name: database
on:
  push:
  workflow_dispatch:

jobs:
  capella-trial:
    runs-on: ubuntu-latest
    environment: capella-trial
    env:
      ADMINISTRATOR_PASSWORD: ${{secrets.ADMINISTRATOR_PASSWORD}}
      API_SECRET: ${{secrets.API_SECRET}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          tests: tests
          test-entry-point: python couchbase_test.py
          extras: couchbase
  duck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          tests: tests
          test-entry-point: python duckdb_test.py
          extras: duck
  milvus:
    runs-on: ubuntu-latest
    environment: milvus
    env:
      CLUSTER_ENDPOINT: ${{vars.CLUSTER_ENDPOINT}}
      CLUSTER_TOKEN: ${{secrets.CLUSTER_TOKEN}}
    steps:
      - uses: actions/checkout@main
      - run: |
          cd ${{ github.workspace }}/../
          curl -sfL https://raw.githubusercontent.com/milvus-io/milvus/master/scripts/standalone_embed.sh -o standalone_embed.sh
          bash standalone_embed.sh start
      - uses: davidkhala/uv-buildpack@main
        with:
          tests: tests
          test-entry-point: pytest milvus
          extras: milvus
  sql:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          tests: tests
          test-entry-point: pytest sql_test.py
          extras: mysql pg